{% extends 'base.html' %}

{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 'mult/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'mult/js/mult_list.js' %}"></script>
{% endblock %}
{% block css %}
<link href="{% static 'mult/css/'|add:night|add:'/list.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'mult/css/'|add:night|add:'/base.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block title %}Мультфильмы{% endblock %}

{% block head %}
<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="side-panel">
        <div class="side-title">Сортировка и фильтр:</div>
        <form method="post" action="">
            {{ formP | safe }}
            {% csrf_token %}
            <input type="submit" value="Применить">
        </form>
  </div>
</div>
{% endblock %}

{% block mults %}
            <div class="container">
        {% for a in mults_lt.object_list %}
                <a class="im_link" href="{% url 'mult:detail' a.id %}">
                    {% if a.img|length > 5 %}
                    <img class="poster" src="{{a.img.url}}"/>
                    {% else %}
                    <img class="poster" src="{% static 'mult/image/default.jpg' %}"/>
                    {% endif %}
                    <p class="title">{{a.name}}</p>
                </a>
        {% endfor %}
            </div>
{% if is_paginated %}
<div class="bottom">
<nav aria-label="...">
    <ul class="pages">
        <li class="page-item {% if not prev_url %} disabled {% endif %}">
            <a href="?{{ prev_url }}" class="{% if not prev_url %}disabled{% endif %}">Предыдущая</a>
        </li>
    {% for n in mults_lt.paginator.page_range %}
        {% if mults_lt.number == n %}
        <li class="page-item active">
            <a class="active" href="#">{{ n }}</a>
        </li>
        {% elif n > mults_lt.number|add:-3 and n < mults_lt.number|add:3 %}
        <li class="page-item">
            <a href="?p={{ n }}{% if ordering.ordering %}&ordering={{ordering.ordering}}{% endif %}{% if ordering.genre %}&genre={{ordering.genre}}{% endif %}">{{ n }}</a>
        </li>
        {% endif %}
    {% endfor %}
        <li class="page-item">
            <a href="?{{ next_url }}" class="{% if not next_url %}disabled{% endif %}">Следующая</a>
        </li>
    </ul>
</nav>
</div>
{% endif %}
{% endblock mults %}
