{% load static %}
{% load svg_load %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="{% static 'mult/css/base.css' %}" rel="stylesheet" type="text/css" />
    {% if night %}
    <link href="{% static 'mult/css/night/base.css' %}" rel="stylesheet" type="text/css" />
    {% endif %}
    {% block css %} {% endblock %}
    <script type="text/javascript" src="{% static 'mult/js/jquery.js' %}"></script>
    {% block js %} {% endblock %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Домашняя библиотека{% endblock %}</title>
</head>
<body>
<div class="root">
    <header class="head">
        {% block head %} {% endblock %}
        <a class="comicText txtCl" href="{% url 'mult:glavnaya' %}">Домашняя библиотека</a>
        <a class="comicText txtCl" href="{% url 'mult:mult' %}">Мультфильмы</a>
        <a class="comicText txtCl" href="{% url 'mult:film' %}">Фильмы</a>
            <div class="search_box">
                {% if request.user.is_authenticated %}
                <a href="{% url 'mult:cabinet' %}">{% icon 'user' 'loginIcon' %}</a>
                {% else %}
                <a href="{% url 'mult:login' %}">{% icon 'login' 'loginIcon' %}</a>
                {% endif %}
                <!-- <form action="" method="POST">
                    <input type="hidden" name="night" value="True">
                    {% csrf_token %}
                    <button type="submit"></button>
                </form> -->
                <form action="{% url 'mult:search' %}" method="get">
                    <input name="q" type="text" placeholder="Поиск...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
    </header>

    {% block mults %}{% endblock mults %}
    {% block films %}{% endblock films %}
</div>
</body>
</html>
