/* night */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
    overflow-y: auto;
    background: #202736;
    background: linear-gradient(to bottom, #080a0d 0%, #11151e 80%);
}


@font-face {
    font-family: ComicCat; /* Гарнитура шрифта */
    src: url('../../font/Comic_CAT.otf'); /* Путь к файлу со шрифтом */
   }

.root {
    overflow-x: hidden;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}

.txtCl {
 color: #c4cdd5;
}

.head {
  background-color: #1a1a1ac9 !important;
}

.comicText {
  font: normal normal normal 14px/1 ComicCat;
  font-size: inherit;
  text-rendering: auto;
}

.head .txtCl {
  color: #c4cdd5;
}

.head .txtCl.active {
  background-color: #2196F3;
  color: white;
}

.head input[type=text] {
  background: #848484;
  color: #fff;
}

.head .search_box button {
  background: #424242;
}

.loginIcon {
  fill: #aeaaaa;
}
