.info_block {
    color: #e3e8ec;
}

.image img {
    filter: contrast(80%);
}

.series {
    color: #e3e8ec;
}

.to_admin {
  color: #e3e8ec;
  background: #424242;
}
.to_admin:hover { background: #888; }
.to_admin:active { background: #333; }

a {
  color: #06aeae;
}

.vote g .a {
  stroke: white;
  stroke-width: 20;
}

.vote-btns span {
  color: white;
}

.liked g .a{
  fill: white;
}
