/* night */

.container img {
    filter: contrast(80%);
}

.im_link:hover {
    background-color: #312727e6;
}

.title {
    color: #e3e8ec;
}

nav {
    background: #535353;
}

ul.pages li a {
    font: normal normal normal 14px/1 ComicCat;
    color: #e3e8ec;
}

ul.pages li a.active {
    background-color: #4851c8;
    color: white;
    border-radius: 5px;
}

ul.pages li a:hover:not(.active) {
    color: black;
}

.bottom{
    z-index: 3;
}


/* Бургер */
.menu-wrap .hamburger > div {
  background: #c4cdd5;
}

/* Оформление панели */

.side-title {
    border-bottom: 2px solid #BFE2FF;
}

.side-panel {
    background: #1a1a1a;
    color: #FFF;
}
